<header class="navbar">
    <div class="search-container">
        <form>
            <input type="text" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div class="space">
        <!-- <a class="active" href="Publicaciones">Publicaciones</a> -->
        <a class="<%= vPyr %>" href="PyR">Preguntas y respuestas</a>
        <a class="<%= vPublicaciones %>" href="Publicaciones">Publicaciones</a>
        <a class="<%= vForos %>" href="Foros">Foros</a>
        <a class="<%= vPerfil %>" href="Perfil">Perfil</a>
        <form id="logout-form" action="/logout" method="POST">
            <button type="submit" class="active">Logout</button>
        </form>

        <%# activo==2 ? 'active' : '' %>
        
    </div>
</header>