<!DOCTYPE html>
<html>

<head>
    <title>HelpMe</title>
    <link rel="stylesheet" type="text/css" href="/public/css/Login.css">
    <link rel="shortcut icon" href="img/Kirbo.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
</head>

<body>
    Redireccionando
    
    <%
    //TODO
    const = require('./module.js') 
    
    router.post('/userAuth/:email, :password', userController.createUserAuth);

    app.get('/login', (req, res) => {
        // Tu lógica para procesar la solicitud del usuario aquí
        res.render('redirect', { redirect: true });
     });
    %>
    

</body>

</html>