<footer class=" ftco-footer ftco-bg-dark ftco-section ">
    <div class="container ">
        <div class="row mb-5 ">
            <div class="col-md ">
                <div class="ftco-footer-widget mb-4 ">
                    <h2 class="ftco-heading-2 ">Sobre nosotros</h2>
                    <p>Bienvenido a HelpMe, la nueva red social pensada más alla de esos estandares, HelpMe propone ser una comunidad, y un espacio donde cada persona se sienta a gusto, una plataforma que se construye cada dia gracias a cada uno de los
                        usuarios. Soluciona problemas, haz preguntas, ayuda. Bienvenido a HelpMe
                    </p>
                    </ul>
                </div>
            </div>
            <div class="col-md ">
                <div class="ftco-footer-widget mb-4 ml-md-4 ">
                    <h2 class="ftco-heading-2 ">Devs</h2>
                    <ul class="list-unstyled ">
                        <li><a href="# " class="py-2 d-block ">Cristian David Ramirez</a></li>
                        <li><a href="# " class="py-2 d-block ">Emanuel Gomez Diaz</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md ">
                <div class="ftco-footer-widget mb-4 ">
                    <h2 class="ftco-heading-2 ">¿Tienes dudas?</h2>
                    <div class="block-23 mb-3 ">
                        <ul>
                            <li><span class="icon icon-map-marker "></span><span class="text ">Cl. 63 #58B-03, Terranova, Itagüi, Antioquia</br>
                            <li><a href="# "><span class="icon icon-phone "></span><span class="text ">+57 313 6640809<br>
                  <br>+57 321 414 5847</br>
                </span></a>
                            </li>
                            <li><a href="# "><span class="icon icon-envelope "></span><span
                      class="text ">HelpMeHelp@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 text-center ">
</footer>